<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
     <% if flash[:notice] %>
      <%= notice %>
     <% end %>
     <% if flash[:alert] %>
      <%= alert %>
     <% end %>
    <%= link_to root_path do %>
      <h1>Book store</h1>
      <% end  %>
            <% if logged_in? %>
              <%= link_to 'Sell', new_product_path %>
                  <%= link_to current_user.mail, edit_user_path(@current_user) %>
                <%= link_to "Logout", logout_path, method: :delete, data: { confirm: "Are you sure ?" } %>
                </div>
              </div>
            <% else %>

            <%= link_to "Sign In", login_path %>
            <%= link_to "Sign up", new_user_path%>

            <% end %>

  <body>
    <%= yield %>
  </body>
</html>
